
body{
	color: white;
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	background-repeat: no-repeat;

}

.card{
	color: black;
}

.container-card{
	padding-left: 0%;
}


.container-badges{
padding-left: 0%;

}

.alert-warning{

	background: #673AB7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #512DA8, #673AB7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #512DA8, #673AB7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.modal{
	color: black;
}
h5{
	text-align: center;
}

.subscription-form{
	color: black;
	display: grid;
}


.display-4{
	font-family: 'Pacifico', cursive;
	font-size: 6.5rem;
}

#inscription{
heigth: min-content !important;

}

.search-form{
	display: flex;
	flex-direction: row;
}

.display-inline{
	display: flex;
	flex-direction: row;

}


#intro{
	margin-bottom:3rem;
}

.mx-3{
	margin-left: 0rem !important;
}


/*couleur de fond jumbotron*/
.jumbotron{
background: #1e3c72;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/*largeur input recherche*/
.input-sm{
	width: 92%;
}

.form-group{

	display: inline-block;

}
.form-control{
	width: 92%;
}
 
/*list-group*/

.list{
	height: 60px;
}
.list-link{
	color: white;
	border-radius: 0px;

}
.list-link:hover{
	color: white;
	text-decoration: none;

}
